@model ForgotPasswordViewModel
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>找回密码</title>
    <link href="~/lib/adminex/css/style.css" rel="stylesheet">
    <link href="~/lib/adminex/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/lib/adminex/js/html5shiv.js"></script>
    <script src="~/lib/adminex/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" asp-action="ForgotPassword" method="post">
            <div class="form-signin-heading text-center">
                <h1 class="sign-title">找回密码</h1>
                <img src="~/lib/adminex/images/login-logo.png" alt="" />
            </div>
            <div class="login-wrap">
                <input type="text" asp-for="Email" class="form-control" placeholder="输入邮箱" autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
                <button class="btn btn-lg btn-login btn-block" type="submit">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </form>
    </div>

    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/lib/adminex/js/jquery-1.10.2.min.js"></script>
    <script src="~/lib/adminex/js/bootstrap.min.js"></script>
    <script src="~/lib/adminex/js/modernizr.min.js"></script>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>

