@model kewcms.Areas.Admin.Models.BaseInfo

@{
    ViewData["Title"] = "BaseInfo";
}

<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        添加管理员
                    </div>
                </div>
                <div class="panel-body">
                    <form asp-action="BaseInfo" asp-controller="Home" asp-area="Admin" method="post" class="form-horizontal adminex-form">
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Domain"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Domain" class="form-control" placeholder="">
                                <span asp-validation-for="Domain" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Name"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Name" class="form-control" placeholder="">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Logo"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Logo" class="form-control" placeholder="">
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Company"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Company" class="form-control" placeholder="">
                                <span asp-validation-for="Company" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Address"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Address" class="form-control" placeholder="">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Tel"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Tel" class="form-control" placeholder="">
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Fax"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Fax" class="form-control" placeholder="">
                                <span asp-validation-for="Fax" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Email"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Email" class="form-control" placeholder="">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Crod"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Crod" class="form-control" placeholder="">
                                <span asp-validation-for="Crod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Copyright"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Copyright" class="form-control" placeholder="">
                                <span asp-validation-for="Copyright" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="Kefu"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="Kefu" class="form-control" placeholder="">
                                <span asp-validation-for="Kefu" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="CountCode"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="CountCode" class="form-control" placeholder="">
                                <span asp-validation-for="CountCode" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="WebClick"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="WebClick" class="form-control" placeholder="">
                                <span asp-validation-for="WebClick" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="SeoTitle"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="SeoTitle" class="form-control" placeholder="">
                                <span asp-validation-for="SeoTitle" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="SeoDescription"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="SeoDescription" class="form-control" placeholder="">
                                <span asp-validation-for="SeoDescription" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3" asp-for="SeoKeywords"></label>
                            <div class="col-md-6">
                                <input type="text" asp-for="SeoKeywords" class="form-control" placeholder="">
                                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

